html, body {
	flex: 1 1;
	display: flex;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-family: 'Hind Siliguri', sans-serif;
}

#pop-page {
	flex: 1 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	justify-content: space-between;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00182d+0,0b4247+48,043306+100 */
	background: #00182d url("../images/small-effects.png"); /* Old browsers */
	background: url("../images/big-effects-01.png"), url("../images/small-effects.png"), -moz-linear-gradient(-45deg,  #00182d 0%, #0b4247 48%, #043306 100%); /* FF3.6-15 */
	background: url("../images/big-effects-01.png"),url("../images/small-effects.png"), -webkit-linear-gradient(-45deg,  #00182d 0%,#0b4247 48%,#043306 100%); /* Chrome10-25,Safari5.1-6 */
	background: url("../images/big-effects-01.png"),url("../images/small-effects.png"), linear-gradient(135deg,  #00182d 0%,#0b4247 48%,#043306 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00182d', endColorstr='#043306',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-moz-animation: animatedBackground 25s linear infinite running;
	-webkit-animation: animatedBackground 25s linear infinite running;
	-ms-animation: animatedBackground 25s linear infinite running;
}

@keyframes animatedBackground {
	from { background-position: 0px 0px, 0px 0px, 0px 0px; }
	to { background-position: 0px -500px, 0px -250px, 0px 0px; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0px 0px, 0px 0px, 0px 0px; }
	to { background-position: 0px -500px, 0px -250px, 0px 0px; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0px 0px, 0px 0px, 0px 0px; }
	to { background-position: 0px -500px, 0px -250px, 0px 0px; }
}

.pop-header {
	flex-basis: 80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	color: #fff;
	background: rgba(0,0,0,0.4);
	font-size: 21px;
	font-weight: 300;
}

.pop-header-column {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#lives {
	background: url('../images/heart-big.png') no-repeat center center;
	background-size: 48px 48px;
}

.bubble-pop {
	background: rgba(0,0,0,0.4);
}

#bubble-game {
	width: 700px;
	height: 230px;
	background: url("../images/island-planet.png") no-repeat bottom center;
	margin-top: -24px;
}

@media only screen and (max-width: 700px) {
	#bubble-game {
		display: none;
	}
}

#content {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	color: #ffffff;
}

.pop-footer {
	flex-basis: 80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	color: #fff;
	background: rgba(0,0,0,0.4);
	font-size: 21px;
	font-weight: 300;
}
